<!DOCTYPE html>
<html lang="en">
<head>
  <meta charset="utf-8">
  <title><%=title%></title>
  <meta content="width=device-width, initial-scale=1.0" name="viewport">
  <meta content="" name="keywords">
  <meta content="" name="description">

    <!-- Favicons -->
    <link href="img/favicon.png" rel="icon">
    <link href="img/favicon.png" rel="apple-touch-icon">

    <link href=<%-`/build/${assets.vendor.css}`-%> rel="stylesheet" >
    <link href=<%-`/build/${assets.main.css}`-%> rel="stylesheet" >

</head>

<body id="page-top">

  <!--/ Nav Star /-->
  <nav class="navbar navbar-b navbar-trans navbar-expand-md fixed-top" id="mainNav">
    <div class="container">
      <button class="navbar-toggler collapsed" type="button" data-toggle="collapse" data-target="#navbarDefault"
        aria-controls="navbarDefault" aria-expanded="false" aria-label="Toggle navigation">
        <span></span>
        <span></span>
        <span></span>
      </button>
      <div class="navbar-collapse collapse justify-content-end" id="navbarDefault">
        <ul class="navbar-nav">
          <li class="nav-item">
            <a class="nav-link js-scroll active" href="#home">Home</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#about">Sobre Mi</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#service">Experiencia</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#blog">Portfolio</a>
          </li>
          <li class="nav-item">
            <a class="nav-link js-scroll" href="#contact">Contacto</a>
          </li>
        </ul>
      </div>
    </div>
  </nav>
  
  <section id="home" class="parralax">
    <img src="/assets/bg.jpg" id="bg" alt="cloudy sky">
    <img src="/assets/cloud.png" id="cloud" alt="clouds moving left">
    <img src="/assets/bgthunder.png" id="bgthunder" alt="thunders far in the sky">
    <img src="/assets/city.png" id="city">
    <img src="/assets/centralthunder.png" id="centralthunder" alt="falling thunder">
    <div id="text">
      <h2>Carlos Corti</h2>
      <p>Fullstack Developer</p>
    </div>
  </section>

  <section id="about" class="about-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="box-shadow-full">
            <div class="row">
              <div class="col-md-6">
                <div class="row">
                  <div class="col-sm-6 col-md-5">
                    <div class="about-img">
                      <img src="img/testimonial-2.jpg" class="img-fluid rounded b-shadow-a" alt="">
                    </div>
                  </div>
                  <div class="col-sm-6 col-md-7">
                    <div class="about-info">
                      <p><span class="title-s">Nombre: </span> <span><%=title%></span></p>
                      <p><span class="title-s">Perfil: </span> <span><%=profile%></span></p>
                      <p><span class="title-s">Email: </span> <span><%=email%></span></p>
                      <p><span class="title-s">Móvil: </span> <span><%=phone%></span></p>
                    </div>
                  </div>
                </div>

                    <div class="skill-mf">
                      <p class="title-s">Web Design</p>
                      <span class="iconify" data-icon="simple-icons:css3" data-inline="false" style="color: blue;" data-width="50" data-height="50"></span>
                      <span class="iconify" data-icon="cib:html5" data-inline="false" style="color: red;" data-width="50" data-height="50"></span>
                    </div>
                    <div class="skill-mf">
                      <p class="title-s">Base de Datos</p>
                      <span class="iconify" data-icon="logos:mongodb" data-inline="false" data-width="50" data-height="50"></span>
                      <span class="iconify" data-icon="logos:mysql" data-inline="false" data-width="50" data-height="50"></span>
                      <!--
                      <i aria-hidden="true" class="white database huge icon"></i>-->
                    </div>
                    <div class="skill-mf">
                      <p class="title-s">Backend</p>
                      <span class="iconify" data-icon="logos:nodejs-icon" data-inline="false" data-width="50" data-height="50"></span>
                      <span class="iconify" data-icon="logos:php" data-inline="false" data-width="50" data-height="50"></span>
                      <span class="iconify" data-icon="logos:python" data-inline="false" data-width="50" data-height="50"></span>
                      <span class="iconify" data-icon="logos:c-sharp" data-inline="false" data-width="50" data-height="50"></span>
                    </div>
                    <div class="skill-mf">
                      <p class="title-s">Frontend</p>
                      <span class="iconify" data-icon="logos:javascript" data-inline="false" data-width="50" data-height="50"></span>
                      <span class="iconify" data-icon="logos:react" data-inline="false" data-width="50" data-height="50"></span>
                      <span class="iconify" data-icon="logos:angular-icon" data-inline="false" data-width="50" data-height="50"></span>
                      <!--<i aria-hidden="true" class="yellow js huge icon"></i>
                      <i aria-hidden="true" class="blue react huge icon"></i>
                      <i aria-hidden="true" class="red angular huge icon"></i>-->
                    </div>
                    <div class="skill-mf">
                      <p class="title-s">Package Manager</p>
                      <!--<i aria-hidden="true" class="red npm huge icon"></i>-->
                      <span class="iconify" data-icon="logos:npm" data-inline="false" data-width="50" data-height="50"></span>
                      <span class="iconify" data-icon="logos:yarn" data-inline="false" data-width="50" data-height="50"></span>
                    </div>
                    <div class="skill-mf">
                      <p class="title-s">Control de Versiones</p>
                      <span class="iconify" data-icon="logos:git-icon" data-inline="false" data-width="50" data-height="50"></span>
                      <span class="iconify" data-icon="topcoat:github" data-inline="false" style="color: white;" data-width="50" data-height="50"></span>
                    </div>
              </div>
              <div class="col-md-6">
                <div class="about-me pt-4 pt-md-0">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Sobre mi
                    </h5>
                  </div>
                  <p class="lead">
                    Desde siempre me han motivado de igual manera dos ámbitos: participar
                    en ideas nuevas, generar algo que no estaba allí antes; y entender
                    cómo funcionan las cosas. 
                  </p>
                  <p class="lead">
                    Esa inquietud me ha llevado siempre a estar en constante evolución y cambio,
                    toda mi formación y experiencia profesional está marcada por esta premisa.
                  </p>
                  <p class="lead">
                    Hoy quiero aportar todo eso que aprendí de diferentes mundos en soluciones
                    concretas, que aunque sea en algo muy simple ayude a alguien más.
                  </p>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>

  <!--/ Section Services Star /-->
  <section id="service" class="services-mf route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Experiencia
            </h3>
            <p class="subtitle-a">
              El camino que me trajo hasta aquí
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-gear-b"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Ingeniero Mecánico</h2>
              <p class="s-description text-center">
                Pasé por diferentes etapas como referente técnico y
                finalmente derivando en gestor de equipos. Los puestos más relevantes
                fueron en <b>ArceloMittal Argentina</b>.<br>
                ¿Qué aprendí de esta etapa? Nuestras experiencias pueden
                resolver un problema de alguien más, la clave está en escuchar y aportar a la solución.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-stats-bars"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Gestión de Negocios</h2>
              <p class="s-description text-center">
                Durante 2019 trabajé en <b>Tecnalia Ventures</b> como Desarrollador de
                Estrategias y Modelos de Negocio de nuevas tecnologías.<br>
                ¿Qué aprendí de esta etapa? Hay que empatizar con lo que siente el que sabe del
                negocio, tomarse el tiempo para entender cuál es su
                problemática, cuál es el objetivo que persigue y alinearse a ello.
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="service-box">
            <div class="service-ico">
              <span class="ico-circle"><i class="ion-network"></i></span>
            </div>
            <div class="service-content">
              <h2 class="s-title">Emprendimiento Personal</h2>
              <p class="s-description text-center">
                <b>Emprendedor</b>, en dos experiencias desde 2015 relacionadas a la
                producción y comercialización de cerveza.
                ¿Qué aprendí de esta etapa? El equipo lo es todo, dialogar de lo bueno
                y de lo malo, encontrar el entendimiento desde la honestidad y la sinceridad, todo lo que pensamos son hipótesis, hay que validarlo con el
                cliente.
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Services End /-->

  <!--/ Section Blog Star /-->
  <section id="blog" class="blog-mf sect-pt4 route">
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="title-box text-center">
            <h3 class="title-a">
              Portfolio
            </h3>
            <p class="subtitle-a">
              Algunos de mis trabajos.
            </p>
            <div class="line-mf"></div>
          </div>
        </div>
      </div>
      <div class="row">
        <div class="col-md-4">
          <div class="card-blog">
            <div class="card-img work-box">
              <div class="work-img"> 
                <a href="https://libraryappexample.herokuapp.com/" target="_blank">
                  <img src="img/prfolio1.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Backend App</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="https://libraryappexample.herokuapp.com/" target="_blanck">Node + Express</a></h3>
              <p class="card-description">
                Aplicación backend con autorización de usuario, consume servicios web de terceros y guarda en base de datos.
                Backend: Node + Express<br>
                Autenticación: Passport.js<br>
                Base de Datos: MongoDB<br>
                Plantilla: Bootstrap 3<br>
                Deploy: Heroku
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-blog">
            <div class="card-img work-box">
              <div class="work-img"> 
                <a href="http://bit.ly/alexis_gasparini_et" target="_blanck">
                  <img src="img/prfolio2.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Reporting</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="http://bit.ly/alexis_gasparini_et" target="_blanck">Analítica de datos</a></h3>
              <p class="card-description">
                Dashboard de gestión deportiva, desarrollado en conjunto con Alexis Gasparini (preparador físico),
                toma de datos mediante formulario web, seguimiento de KPI's para decisiones basadas en datos.<br>
                Herramienta de reporting: Power BI<br>
                Toma de datos Web: Angular
              </p>
            </div>
          </div>
        </div>
        <div class="col-md-4">
          <div class="card-blog">
            <div class="card-img work-box">
              <div class="work-img">
                <a href="https://cacstarsgame.herokuapp.com/" target="_blanck">
                  <img src="img/prfolio3.jpg" alt="" class="img-fluid">
                </a>
              </div>
            </div>
            <div class="card-body">
              <div class="card-category-box">
                <div class="card-category">
                  <h6 class="category">Frontend App</h6>
                </div>
              </div>
              <h3 class="card-title"><a href="https://cacstarsgame.herokuapp.com/" target="_blanck">Node + React</a></h3>
              <p class="card-description">
                Aplicación Frontend con sevidor Node, renderiza React desde sevidor con valores aleatorios de inicio.<br>
                Backend: Node + Express<br>
                Frontend: React<br>
                React environment: Webpack + Babel<br>
                Deploy: Heroku
              </p>
            </div>
          </div>
        </div>
      </div>
    </div>
  </section>
  <!--/ Section Blog End /-->

  <!--/ Section Contact-Footer Star /-->
  <section class="paralax-mf footer-paralax bg-image sect-mt4 route" style="background-image: url(img/overlay-bg.jpg)">
    <div class="overlay-mf"></div>
    <div class="container">
      <div class="row">
        <div class="col-sm-12">
          <div class="contact-mf">
            <div id="contact" class="box-shadow-full">
              <div class="row">
                <div class="col-md-6">
                  <div class="title-box-2">
                    <h5 class="title-left">
                      Envía un mensaje
                    </h5>
                  </div>
                  <div>
                      <form action="/api/mail" method="post" role="form" class="contactForm">
                      <div class="row">
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="text" name="name" class="form-control" id="name" placeholder="Nombre" data-rule="minlen:4" data-msg="Please enter at least 4 chars" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <input type="email" class="form-control" name="email" id="email" placeholder="Email" data-rule="email" data-msg="Please enter a valid email" />
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12 mb-3">
                            <div class="form-group">
                              <input type="text" class="form-control" name="subject" id="subject" placeholder="Encabezado" data-rule="minlen:4" data-msg="Please enter at least 8 chars of subject" />
                              <div class="validation"></div>
                            </div>
                        </div>
                        <div class="col-md-12 mb-3">
                          <div class="form-group">
                            <textarea class="form-control" name="message" rows="5" data-rule="required" data-msg="Please write something for us" placeholder="Mensaje"></textarea>
                            <div class="validation"></div>
                          </div>
                        </div>
                        <div class="col-md-12">
                          <button type="submit" class="button button-a button-big button-rouded">Enviar</button>
                        </div>
                      </div>
                    </form>
                  </div>
                </div>
                <div class="col-md-6">
                  <div class="title-box-2 pt-4 pt-md-0">
                    <h5 class="title-left">
                      Contactemos
                    </h5>
                  </div>
                  <div class="more-info">
                    <p class="lead">
                      Envía tus sugerencias, comentarios, saludos o lo que gustes.<br>
                      Estaré encantado de contactar contigo. 
                    </p>
                    <ul class="list-ico">
                      <li><span class="ion-ios-telephone"></span> <%=phone%></li>
                      <li><span class="ion-email"></span> <%=email%></li>
                    </ul>
                  </div>
                  <div class="socials">
                    <ul>
                      <li><a href="https://www.linkedin.com/in/carlos-corti/" target="_blank"><span class="ico-circle"><i class="ion-social-linkedin"></i></span></a></li>
                      <li><a href="https://github.com/carloscorti" target="_blank">
                      <li><a href="https://github.com/carloscorti" target="_blank"><span class="ico-circle"><i class="ion-social-github"></i></span></a></li>
                    </ul>
                  </div>
                </div>
              </div>
            </div>
          </div>
        </div>
      </div>
    </div>
    <footer>
      <div class="container">
        <div class="row">
          <div class="col-sm-12">
            <div class="copyright-box">
              <p class="copyright">&copy; Copyright <strong>Carlos Corti</strong></p>
              <div class="credits">
                <p>Diseñado por Carlos Corti</p>
                <p>Plantilla base <a href="https://bootstrapmade.com/" target="_blank">BootstrapMade</a></p>
              </div>
            </div>
          </div>
        </div>
      </div>
    </footer>
  </section>
  <!--/ Section Contact-footer End /-->

  <a href="#" class="back-to-top"><i class="ion-chevron-up"></i></a>
  <div id="preloader"></div>
  <div id="cursor"></div>

  <script src="https://code.iconify.design/1/1.0.6/iconify.min.js"></script>

  <script src=<%-`/build/${assets.vendor.js}`-%>></script>
  <script src=<%-`/build/${assets.main.js}`-%>></script>

</body>
</html>
